@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@400;500&display=swap');

.font-heading {
  font-family: 'Alfa Slab One',
    cursive;
  color: #000;

}

* {
  font-family: 'Poppins',
    sans-serif;

}

body {
  background-color: black;
  margin: 0%;
  height: 100vh;

}

head {
  background-color: black;
}

.details1 {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

.summary1 {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

.details1[open] {
  padding: 0.5em;
}

/* .details1[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
} */

.mid {
  color: aliceblue;
  min-height: 100vh;
  text-align: center;



}

.mid1 {
  color: aliceblue;
  text-align: center;
  margin: 5rem 0 5rem 0;
}

.navigation {
  background-color: yellow;
  display: flex;
  justify-content: space-between;
}

.display {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #000;
  background-color: yellow;
}

.navigation {
  overflow: hidden;
}

.form-container {
  min-height: 100vh;
}

a:hover {
  background-color: rgb(10, 244, 61);
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.camera {
  width: 42px;
  height: 42px;
}

.nav-menu {
  display: flex;
  gap: 20px;
  list-style-type: none;
  text-decoration: none;
}

.nav-menu-item {
  padding: 20px;
  text-decoration: none;
  color: rgb(63, 63, 63);
}

.aboutmetable {
  border: 2px solid white;
  min-height: 100vh;


}

.td {
  align-content: center;
}

.about-me-container {
  color: white;
}

td {
  border: 1px solid white;
  text-align: center;
}

.contactmebg {
  background-color: black;
  color: antiquewhite;
}

.contactme-header {
  text-align: center;

}

.contactmeheader1 {
  text-align: center;

}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.grid-item {
  width: 100%;
  padding: 10px;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.video-container {
  max-width: 100%;
  margin: 0 auto;
}

video {
  max-width: 100%;
  height: auto;
  display: block;
  align-items: center;
  justify-content: center;

}

.video-sec {
  margin: 0 auto;
}

.audio-sec {
  margin: 5 auto;
}

.audiotext {
  color: #aaa;
  text-align: center;
}

.video-container-para {
  text-align: center;
  color: aliceblue;
}

.audio-mp3 {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;

}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-para {
  text-align: center;
}

.footer {
  background-color: yellow;
  display: flex;
  justify-content: space-around;
  text-align: end;
}

.footerc {
  padding: 20px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  background-color: yellow;






}

.nav-text {
  text-align: right;
}